# Database
DATABASE_URL="file:./dev.db"

# Football-Data.org API (Obtener gratis en https://www.football-data.org/)
# Plan gratuito: 10 requests por minuto
FOOTBALL_DATA_API_KEY=b9eca026aa884a3d8f71fc04685ba9ab

# Server
PORT=3001
FRONTEND_URL=http://localhost:5173

# Admin (Token simple para endpoints de configuración)
ADMIN_TOKEN=prode-admin-2026

